# Week 4 Wednesday

## Announcements

* The midterm is Monday.  A sample midterm is posted on the [Week 5](https://canvas.eee.uci.edu/courses/53164/pages/week-5) page on Canvas.  Solutions posted by Friday.
* Jinghao gave out notecards on Tuesday, can put handwritten notes on both sides for the midterm.  Let me know if you still need a notecard.
* The best way to study is to go over the worksheets, quizzes, and the sample midterm.  Next priority would be the [lecture notes](https://christopherdavisuci.github.io/UCI-Math-10-S23/Week3/Week3-Monday.html).
* I briefly mention lots of topics.  If you're not sure if something could appear on the midterm, ask on Ed Discussion and I'll answer there.
* Worksheet 8 is posted.  Both Worksheets 7-8 are due Monday night (the usual schedule).  Working on them will help you prepare for the midterm.
* I have office hours before class on Friday, 12-1pm, in the same classroom ALP 3610.
* Friday will have a slightly different structure from usual.  There will be time to work at the beginning (about 15 minutes) and then lecture for the last part of class.

## Plan for today

Today I would like to introduce the pandas DataFrame method `apply` (which is necessary for this week's worksheets and is also good practice with `axis`) and continue discussing the Python topics from Monday (list comprehension, f-strings, and lambda functions).

## Practice with the DataFrame method `apply`

* Load the "taxis" dataset from Seaborn and drop rows with missing values.

In [1]:
import seaborn as sns
import pandas as pd

In [2]:
df = sns.load_dataset("taxis")
df = df.dropna(axis=0)

* As a warm-up with `apply`, try applying the `len` function using first `axis=0` and then `axis=1`.  We'll see more serious uses below and in the homework.

Notice how the row labels have disappeared but the column labels are still here.  We have changed the row labels, which corresponds to `axis=0`.  The numbers `6341` correspond to the length of each of these columns.

In [3]:
df.apply(len, axis=0)

pickup             6341
dropoff            6341
passengers         6341
distance           6341
fare               6341
tip                6341
tolls              6341
total              6341
color              6341
payment            6341
pickup_zone        6341
dropoff_zone       6341
pickup_borough     6341
dropoff_borough    6341
dtype: int64

Here is an example of where the `6341` entry for `"pickup"` came from.

In [4]:
len(df["pickup"])

6341

We were applying the `len` function to each of these columns.

In [5]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

If we use `axis=1` instead, then we are plugging in one row at a time.  Those rows all have length `14`, which is where the following values come from.

In [6]:
df.apply(len, axis=1)

0       14
1       14
2       14
3       14
4       14
        ..
6428    14
6429    14
6430    14
6431    14
6432    14
Length: 6341, dtype: int64

Here is an example where we see different values for different columns.  Here the input is a column, and the output is its `dtype`.

In [7]:
df.apply(lambda x: x.dtype, axis=0)

pickup             datetime64[ns]
dropoff            datetime64[ns]
passengers                  int64
distance                  float64
fare                      float64
tip                       float64
tolls                     float64
total                     float64
color                      object
payment                    object
pickup_zone                object
dropoff_zone               object
pickup_borough             object
dropoff_borough            object
dtype: object

Compare the above use of `apply` to `map`, which is used on a single pandas Series, rather than on a whole pandas DataFrame.

In [9]:
ser = df["payment"]
ser

0       credit card
1              cash
2       credit card
3       credit card
4       credit card
           ...
6428    credit card
6429    credit card
6430           cash
6431    credit card
6432    credit card
Name: payment, Length: 6341, dtype: object

Here we are trying to add `5` to each entry, but we get an error because the entries are strings in `ser`.

In [10]:
ser.map(lambda x: x+5)

TypeError: can only concatenate str (not "int") to str

If we convert `5` to a string (we could also put it in quotation marks), then we don't get an error.  Notice how the function here is a little simpler than what we used above, in the sense that the input to this lambda function is a string, whereas the inputs above were pandas Series.

In [11]:
ser.map(lambda x: x+str(5))

0       credit card5
1              cash5
2       credit card5
3       credit card5
4       credit card5
            ...
6428    credit card5
6429    credit card5
6430           cash5
6431    credit card5
6432    credit card5
Name: payment, Length: 6341, dtype: object

* Write a function `has_airport` which takes as input a row from `df` (not a row label but an entire row) and as output returns `True` if the "pickup_zone" or "dropoff_zone" entry contains the substring "Airport".

Here is a more realistic application of `apply`.  We start with a function that takes as input a pandas Series (a row of the DataFrame).  In this case, the output is the Boolean value `True` or `False`.

In [12]:
def has_airport(row):
    return ("Airport" in row["pickup_zone"]) or ("Airport" in row["dropoff_zone"])

Here is a typical input.  We get the row at integer location `30` from `df`.

In [13]:
z = df.iloc[30]

Here is what that particular row looks like.  It's still a pandas Series, just like a column.

In [14]:
z

pickup                   2019-03-01 02:55:55
dropoff                  2019-03-01 02:57:59
passengers                                 3
distance                                0.74
fare                                     4.0
tip                                      0.0
tolls                                    0.0
total                                    7.8
color                                 yellow
payment                                 cash
pickup_zone                     Clinton East
dropoff_zone       West Chelsea/Hudson Yards
pickup_borough                     Manhattan
dropoff_borough                    Manhattan
Name: 31, dtype: object

Notice that neither the "pickup_zone" value nor the "dropoff_zone" value contains `"Airport"`, so that is why our function returns `False`.

In [15]:
has_airport(z)

False

Here is that "pickup_zone" value.

In [16]:
z["pickup_zone"]

'Clinton East'

We could also use `loc`, but that is not as common with pandas Series.  (We can just use the square brackets directly.  Unlike with a pandas DataFrame, where using square brackets directly means something else.)

In [17]:
z.loc["pickup_zone"]

'Clinton East'

Here is a row where there is an `"Airport"` substring.

In [18]:
has_airport(df.loc[10])

True

* Make a new column `"Airport0"` which contains `True` if the "pickup_zone" or "dropoff_zone" contains the substring "Airport", and otherwise contains `False`.  Use the `has_airport` function and `df.apply(???, axis=???)`.

Because we are evaluating this to a row at a time, we are using `axis=1`.

In [22]:
df["Airport0"] = df.apply(has_airport, axis=1)

Scroll to the right and notice how an "Airport0" column is now there.

In [23]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,Airport0
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,False
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,False
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,False
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,False
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan,False
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx,False
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn,False
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn,False
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn,False

If we try to apply using `axis=0` in this case, we get an error, because the code included `row["pickup_zone"]`, which doesn't make sense for a column in this DataFrame.  (There is no row with label "pickup_zone".)

In [24]:
df.apply(has_airport, axis=0)

KeyError: 'pickup_zone'

* Make a column `"Airport1"` with the same values, again using `apply`, but this time using a lambda function.

The following is the exact same as above, just using an anonymous lambda function instead of our named `has_airport` function.  I've broken it up over multiple lines just to make it a little easier to read.

In [25]:
df["Airport1"] = df.apply(
    lambda row: ("Airport" in row["pickup_zone"]) or ("Airport" in row["dropoff_zone"]),
    axis=1
)

Notice how we now have a new column on the far right.

In [26]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,Airport0,Airport1
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,False,False
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,False,False
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,False,False
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,False,False
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan,False,False
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx,False,False
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn,False,False
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn,False,False
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn,False,False

Here is a fancier but more confusing approach.

* Notice that `df[["pickup_zone", "dropoff_zone"]]` is a DataFrame containing just those two columns we're interested in.  Use `apply` this time to apply a lambda function to the columns rather than the rows, then use `any`.  Name the result `"Airport2"`.

We start off getting a two-column DataFrame, that only contains the two columns of interest.

In [27]:
df_sub = df[["pickup_zone", "dropoff_zone"]]
df_sub

                pickup_zone                      dropoff_zone
0           Lenox Hill West               UN/Turtle Bay South
1     Upper West Side South             Upper West Side South
2             Alphabet City                      West Village
3                 Hudson Sq                    Yorkville West
4              Midtown East                    Yorkville West
...                     ...                               ...
6428      East Harlem North              Central Harlem North
6429                Jamaica  East Concourse/Concourse Village
6430    Crown Heights North                    Bushwick North
6431          East New York      East Flatbush/Remsen Village
6432            Boerum Hill                   Windsor Terrace

[6341 rows x 2 columns]

We now use `apply` again, but this time to the columns, not to the rows.  This approach is nicer in some ways, because there is less repetition.  Unlike in the code `("Airport" in row["pickup_zone"]) or ("Airport" in row["dropoff_zone"])`, where we had the same thing repeated almost entirely twice.

In [28]:
df_sub.apply(lambda col: col.str.contains("Airport"), axis=0)

      pickup_zone  dropoff_zone
0           False         False
1           False         False
2           False         False
3           False         False
4           False         False
...           ...           ...
6428        False         False
6429        False         False
6430        False         False
6431        False         False
6432        False         False

[6341 rows x 2 columns]

As an example of how `axis` works, if we apply `any(axis=0)`, we are checking if there are any `True` values in the columns.  This Series has length two, because there are two columns.

In [34]:
df_sub.apply(lambda col: col.str.contains("Airport"), axis=0).any(axis=0)

pickup_zone     True
dropoff_zone    True
dtype: bool

But what we really want to do is apply `any(axis=1)`, to find out if any of the rows have a `True` in them.  This produces a much longer Series, and we store it in the "Airport2" column.

In [32]:
df["Airport2"] = df_sub.apply(lambda col: col.str.contains("Airport"), axis=0).any(axis=1)

Notice how we now have yet another column on the far right of the DataFrame.

In [33]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,Airport0,Airport1,Airport2
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,False,False,False
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,False,False,False
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,False,False,False
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,False,False,False
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan,False,False,False
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx,False,False,False
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn,False,False,False
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn,False,False,False
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn,False,False,False

* Make a list `air_cols` containing the names of those three columns we just made.  Use list comprehension and the string `startswith` method.

Before we do that, here is an example of including an `if` statement at the end of a list comprehension.  It indicates which values we will use in our list.  For example in the following, we are iterating over `x = 0`, `1`, `2`, `3`, `4` (remember that the right endpoint is typically not included in Python), but we are only using the values which are strictly greater than `2`.  So we are putting `3**2` and `4**2` into a list.  (Side comment: In Python, we do not use the caret symbol `^` for powers, instead we use `**`.)

In [35]:
[x**2 for x in range(5) if x > 2]

[9, 16]

Here is an example without the `if` statement.  This is just a complicated way to turn `df.columns` into a list.

In [36]:
[c for c in df.columns]

['pickup',
 'dropoff',
 'passengers',
 'distance',
 'fare',
 'tip',
 'tolls',
 'total',
 'color',
 'payment',
 'pickup_zone',
 'dropoff_zone',
 'pickup_borough',
 'dropoff_borough',
 'Airport0',
 'Airport1',
 'Airport2']

Here is a warm-up.  This produces a length 1 list, because only one column name satisfies the condition.

In [37]:
[c for c in df.columns if c == "Airport1"]

['Airport1']

Finally here is the list we want.  The `startswith` method itself is not important for us.  The important thing for us is the logic that's being used here.  We are making a list containing all the column names which start with the string `"Airport"`.

In [38]:
[c for c in df.columns if c.startswith("Airport")]

['Airport0', 'Airport1', 'Airport2']

Here is almost another way to make the list.  Notice how we have not done anything with `i` yet.

In [39]:
[f"Airport" for i in range(3)]

['Airport', 'Airport', 'Airport']

Here we include `i`, thanks to f-strings.

In [40]:
[f"Airport{i}" for i in range(3)]

['Airport0', 'Airport1', 'Airport2']

That is where we stopped on Wednesday.

* Check that the values in these three columns are the same.  One approach: compute `row.unique()` for every row in the DataFrame, and check that the length is always `1`.

## Practice with `groupby` and f-strings

* Make a new column named "Day" in the DataFrame, containing the day of the pickup (as a string, like `"Monday"`).

* Why didn't we have to use `pd.to_datetime`?  Evaluate `df.dtypes` and `df.dtypes["pickup"]` to see the reason.

* For each day of the week, what was the median tip for that day?  Put the results into a pandas Series using `groupby`.

* For each day of the week, print out a string stating the median tip amount for that day.  Use `:.2f` in the string formatting part so that only two decimal places get printed.

In [ ]:
day_list = [pd.to_datetime(f"4-{i}-2023").day_name() for i in range(24,31)]
day_list

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

## Practice with list comprehension

(I doubt we'll get this far.)

* Using list comprehension, make a list of all the row labels for which the "pickup_zone" or "dropoff_zone" column contains the substring "Airport".

* Compute the same thing using pandas techniques.

* What if we wanted the integer locations instead, rather than the labels?

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=f42346a9-38b7-480d-97d2-0aec2dde9f8a' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>